env
__pycache__
.venv
.vscode

/dist/*
/data/*
/data/models/*
!/data/models/silero_vad.onnx

/data/agents/*
data/last_used_agent.txt
data/worldbook
uv.lock
config.yaml
test*
ffmpeg
nltk_data
!data/models/sherpa-onnx-kws-zipformer-zh-en-3M