Core:
  tt: false
  sv:
    is_up: false
    master_audio: test.wav # 包含你声音的wav音频文件，建议3s-5s左右。
    thr: # 阈值，越小越敏感，建议0.5-0.8之间，实测好像不是很有用？
LLM:
  api: https://api.siliconflow.cn/v1/chat/completions
  key: sk-tcdxspehrwkdjtkffrrqpmfmmmhpmofgoiwtzuaelkjxbakq
  model: Qwen/Qwen3-8B
  extra_config:
    # 大模型API额外参数，如：temperature:0.7，温度参数
    # "frequency_penalty": 0.0
    # "n": 1
    # "presence_penalty": 0.0
    # "top_p": 1.0
    # temperature: 0.7
LLM2: # 用于提取记录长期记忆的大模型，与对话模型分离，达到更好的效果
  api: https://api.siliconflow.cn/v1/chat/completions
  key: sk-tcdxspehrwkdjtkffrrqpmfmmmhpmofgoiwtzuaelkjxbakq
  model: Qwen/Qwen3-8B
  extra_config:
  # 大模型API额外参数，如：temperature: 0.7，温度参数

SLM: # 用于语音检测，改写，意图判断的小模型
  api: http://localhost:11434/v1/chat/completions
  key:
  model: qwen3:0.6b
  extra_config:
    # 大模型API额外参数，如：temperature: 0.7，温度参数
    temperature: 0.6
    stream: false

GSV:
  api: http://127.0.0.1:9880/tts
